/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001730;
    padding: 10px 20px;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 1320px; /* Preventing te nav-bar from being too wide */

}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #4ad7d1;
    font-family: Bebas Neue, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover{
    color: #4ad7d1;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-item {
    position: relative;
    margin: 0 15px;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #001730;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(10px);
    top : 35px;    /*moves the dropdown further down*/
}

.dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.dropdown a:hover {
    background-color: #ddd;
}

/* Fix: Keep dropdown visible when hovered */
.nav-item:hover .dropdown,
.nav-item .dropdown:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.navbar-buttons {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
}

.btn {
    background-color: #fe4a49;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

.btn:hover {
    background-color: #d93b3a;
}